<!------FOOTER----->
   <footer class="footer_area section_padding_130_0">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-footer-widget section_padding_0_130">
              <div class="footer-logo mb-3"></div>
                <h4><p>@Joyalukkas India Ltd. 2023. All rights reserved</p></h4>
              <div class="download-text mb-5">
                <p class="mb-0">Download Our App. <a class="ml-1" href="https://play.google.com/store/apps/details?id=com.joyalukkas.mcstaging.twa"><i class='bx bxl-play-store' style="height: 100px"></i></a>
                  <a class="ml-1" href="https://apps.apple.com/in/app/joyalukkas-shopping/id1667259209"><i class='bx bxl-apple' style="height: 50px"></i></a></p>
              </div>
              <div class="footer_social_area">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class='bx bxl-facebook' style="height: 100px"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram"><i class='bx bxl-instagram'></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class='bx bxl-twitter'></i></i></a>
              </div>
            </div>
          </div>
          <!--CONTENTS-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <h5 class="widget-title">About</h5>
              <div class="footer_menu">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">History-TheJourney</a></li>
                  <li><a href="#">Awards</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Social Initiatives</a></li>
                  <li><a href="#">Career</a></li>
                  <li><a href="#">FAQ's</a></li>
                  <li><a href="#">Pay Easy Gold Installments</a></li>
                  <li><a href="#">Join New Easy Gold Scheme</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <h5 class="widget-title">Jewellery Guide</h5>
              <div class="footer_menu">
                <ul>
                  <li><a href="#">Jewellery Education</a></li>
                  <li><a href="#">Know Your Gold</a></li>
                  <li><a href="#">Know Your Diamond</a></li>
                  <li><a href="#">Know Your Gemstone</a></li>
                  <li><a href="#">Know Your Silver</a></li>
                  <li><a href="#">Bangle Size Guide</a></li>
                  <li><a href="#">Ring Size Guide</a></li>
                  <li><a href="#">Jewellery Care</a></li>
                  <li><a href="#">Platinum Care</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <h5 class="widget-title">Media</h5>
              <div class="footer_menu">
                <ul>
                  <li><a href="#">Our Blogs</a></li>
                  <li><a href="#">Latest Promotions</a></li>
                  <li><a href="#">Latest Promotions</a></li>
                  <li><a href="#">Video Campaign</a></li>
                  <li><a href="#">News & Events</a></li>
                  <li><a href="#">Investor Relations</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <h5 class="widget-title">Policies</h5>
              <div class="footer_menu">
                <ul>
                  <li><a href="#">Disclaimer</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Shipping Policy</a></li>
                  <li><a href="#">Term &amp; Conditions</a></li>
                  <li><a href="#">Return &amp; Refund</a></li>
                  <li><a href="#">Cancellation Policy</a></li>
                  <li><a href="#">Exchange</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
   </footer>
