

<!--Scrolling Logo Banner-->
    {% load static %}
   <div class="scroll-banner">
       <div class="scroll-banner-header">
           OUR EXCLUSIVE BRANDS
       </div>
       <div class="container h-100">
          <div class="row align-items-center h-100">
            <div class="container rounded">
              <div class="slider">
                <div class="logos">
                  <img src="https://www.joyalukkas.in/media/wysiwyg/row1-heading.png" style="width:200px; height:200px;">
                  <img src="https://www.joyalukkas.in/media/wysiwyg/ratna_logo_2.png" style="width:200px; height:200px;">
                  <img src="https://www.joyalukkas.in/media/wysiwyg/bridecard2-image_2.png" style="width:200px; height:200px;">
                  <img src="https://www.joyalukkas.in/media/wysiwyg/bridecard3-image_3.png" style="width:200px; height:200px;">
                </div>
                <div class="logos">
                  <img src="https://www.joyalukkas.in/media/wysiwyg/sitaKalyanam-PNG_for_ours_brand.png" style="width:200px; height:200px;">
                  <img src="https://www.joyalukkas.in/media/wysiwyg/elegenza_logo.png" style="width:200px; height:200px;">
                  <img src="https://www.joyalukkas.in/media/wysiwyg/bridecard5-image_2.png" style="width:200px; height:200px;">
                  <img src="https://www.joyalukkas.in/media/wysiwyg/yuva-logo-_web-site__PNG_for_ours_brand.png" style="width:200px; height:200px;">
                </div>
              </div>
            </div>
          </div>
       </div>
   </div>
