{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="category-container">
        <div class="wrapper">
            <div class="cat-heading">
                <h4>DESIGNED JUST</h4>
                <h1>FOR YOU</h1>
            </div>
        </div>
        <div class="filter-tabs">
            Sort By:
            <span class="filter-option">Best Match</span>
            <span class="filter-option">Gift Option</span>
            <span class="filter-option">Position</span>
            <span class="filter-option">Price: High to Low</span>
            <span class="filter-option">Price: Low to High</span>
            <span class="filter-option">Product Name</span>
        </div>
    </div>

    <!--SHOP BY CATEGORY-->


        <div class="wrapper">
            <div class="card">
                <div class="poster">
                    <img src="https://www.joyalukkas.in//media/catalog/product//d/s/dsde00023563_1.jpg" alt="earrings">
                    <video class="video" controls>
                        <source src="https://cdn.joyalukkas.com/Productvideo/DSDE00023563_8.mp4" type="">
                    </video>
                </div>
                <div class="poster-details">
                    <a href="{% url 'jew_app:product_details' %}"> <h1>Eclat Diamond Earring</h1> </a>
                    <div class="price-container">
                        <span class="discounted-price">&#8377; 66,410.00/-</span>
                        <span class="original-price">&#8377; 75,951.00/-</span>
                    </div>
                    <div class="icons">
                        <i class='bx bx-share-alt'></i>
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="poster">
                    <img src="https://www.joyalukkas.in//media/catalog/product//d/s/dsde00023563_1.jpg" alt="earrings">
                    <video class="video" controls>
                        <source src="https://cdn.joyalukkas.com/Productvideo/DSDE00023563_8.mp4" type="">
                    </video>
                </div>
                <div class="poster-details">
                    <a href="{% url 'jew_app:product_details' %}"> <h1>Eclat Diamond Earring</h1> </a>
                    <div class="price-container">
                        <span class="discounted-price">&#8377; 66,410.00/-</span>
                        <span class="original-price">&#8377; 75,951.00/-</span>
                    </div>
                    <div class="icons">
                        <i class='bx bx-share-alt'></i>
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
            </div>
           <div class="card">
                <div class="poster">
                    <img src="https://www.joyalukkas.in//media/catalog/product//d/s/dsde00023563_1.jpg" alt="earrings">
                    <video class="video" controls>
                        <source src="https://cdn.joyalukkas.com/Productvideo/DSDE00023563_8.mp4" type="">
                    </video>
                </div>
                <div class="poster-details">
                    <a href="#"> <h1>Eclat Diamond Earring</h1> </a>
                    <div class="price-container">
                        <span class="discounted-price">&#8377; 66,410.00/-</span>
                        <span class="original-price">&#8377; 75,951.00/-</span>
                    </div>
                    <div class="icons">
                        <i class='bx bx-share-alt'></i>
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
            </div>
             <div class="card">
                <div class="poster">
                    <img src="https://www.joyalukkas.in//media/catalog/product//d/s/dsde00023563_1.jpg" alt="earrings">
                    <video class="video" controls>
                        <source src="https://cdn.joyalukkas.com/Productvideo/DSDE00023563_8.mp4" type="">
                    </video>
                </div>
                <div class="poster-details">
                    <a href="#"> <h1>Eclat Diamond Earring</h1> </a>
                    <div class="price-container">
                        <span class="discounted-price">&#8377; 66,410.00/-</span>
                        <span class="original-price">&#8377; 75,951.00/-</span>
                    </div>
                    <div class="icons">
                        <i class='bx bx-share-alt'></i>
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
            </div>
             <div class="card">
                <div class="poster">
                    <img src="https://www.joyalukkas.in//media/catalog/product//d/s/dsde00023563_1.jpg" alt="earrings">
                    <video class="video" controls>
                        <source src="https://cdn.joyalukkas.com/Productvideo/DSDE00023563_8.mp4" type="">
                    </video>
                </div>
                <div class="poster-details">
                    <a href="#"> <h1>Eclat Diamond Earring</h1> </a>
                    <div class="price-container">
                        <span class="discounted-price">&#8377; 66,410.00/-</span>
                        <span class="original-price">&#8377; 75,951.00/-</span>
                    </div>
                    <div class="icons">
                        <i class='bx bx-share-alt'></i>
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="poster">
                    <img src="https://www.joyalukkas.in//media/catalog/product//d/s/dsde00023563_1.jpg" alt="earrings">
                    <video class="video" controls>
                        <source src="https://cdn.joyalukkas.com/Productvideo/DSDE00023563_8.mp4" type="">
                    </video>
                </div>
                <div class="poster-details">
                    <a href="#"> <h1>Eclat Diamond Earring</h1> </a>
                    <div class="price-container">
                        <span class="discounted-price">&#8377; 66,410.00/-</span>
                        <span class="original-price">&#8377; 75,951.00/-</span>
                    </div>
                    <div class="icons">
                        <i class='bx bx-share-alt'></i>
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
            </div>
             <div class="card">
                <div class="poster">
                    <img src="https://www.joyalukkas.in//media/catalog/product//d/s/dsde00023563_1.jpg" alt="earrings">
                    <video class="video" controls>
                        <source src="https://cdn.joyalukkas.com/Productvideo/DSDE00023563_8.mp4" type="">
                    </video>
                </div>
                <div class="poster-details">
                    <a href="#"> <h1>Eclat Diamond Earring</h1> </a>
                    <div class="price-container">
                        <span class="discounted-price">&#8377; 66,410.00/-</span>
                        <span class="original-price">&#8377; 75,951.00/-</span>
                    </div>
                    <div class="icons">
                        <i class='bx bx-share-alt'></i>
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}
