{% extends 'base.html' %}
{% load static %}
{% block title %}About Us - JoyAlukkas{% endblock %}


{% block content %}

    <!--BANNER-->
        <article class="article group">
            <img class="image right" src="{% static 'img/about1.png' %}" alt="Image">
                <section class="content">
                    <p class="joy-text">JOYALUKKAS</p>
                    <span class="share-text">LEGACY</span><br>
                   <p class="joy-subtext">
                       Under the visionary leadership of Joy Alukkas, the World’s favourite jeweller is today a 150-showroom plus vast chain spread across 11
                       countries around the world. We enjoy the trust and patronage of over 100 nationalities, who strongly consider <em>Joyalukkas</em> as their favourite
                       destination for jewellery shopping.
                   </p>
                </section>
        </article>

{% endblock %}