{% extends 'base.html' %}
{% load static %}
{% block title %}Awards - JoyAlukkas{% endblock %}


{% block content %}

    <!--BANNER-->
        <article class="article group">
            <img class="image right" src="{% static 'img/awards1.jpg' %}" alt="Image">
                <section class="content">
                    <p class="joy-text">THE MARKS</p>
                    <span class="share-text">WE LEAVE BEHIND</span><br>
                   <p class="joy-subtext">
                       We have received prestigious awards and recognition over the years, highlighting our excellence in quality,
                     design, social responsibility initiatives, and performance. Some of the most coveted awards we have received in recent history include:
                   </p>
                </section>
        </article>

{% endblock %}