{% extends 'base.html' %}
{% load static %}
{% block title %}FAQs - JoyAlukkas{% endblock %}


{% block content %}

    <!--BANNER-->
        <div class="faq-container">
            <div class="faq-heading">
                <h4 class="faq-heading1">LET US</h4>
                <p class="faq-heading2">HELP YOU</p>

            </div>
                <img class="image right" src="{% static 'img/faq1png.png' %}" alt="Image">

        </div>
        <article class="faq group">
           <p class="faq-subtext">DIDN'T FIND THE ANSWER YET?</p>
            
        </article>


{% endblock %}