{% extends 'base.html' %}
{% load static %}
{% block title %}Join Us - JoyAlukkas{% endblock %}


{% block content %}

    <!--BANNER-->
        <article class="article group">
            <img class="image right" src="{% static 'img/joinus.jpg' %}" alt="Image">
                <section class="content">
                    <p class="joy-text">JOIN OUR</p>
                    <span class="share-text">LEGACY</span><br>
                   <p class="joy-subtext">
                       Our passion for excellence has led us to continuously look for new talented individuals to join the team.
                   </p>
                </section>
        </article>

{% endblock %}